Hello, {{ name }},<BR>
<BR>
We recieved a password reset request. The link to reset your password is below.<BR>
If you did not make this request, you can ignore this email<BR>
Here is your password reset link:<BR>
<a href='{{ url }}'>{{  url  }}</a><BR>
<BR>
Thank you,<BR>
{{ from_email }}

*** Do not reply to this email. ***
If you have any questions, please contact us at https://www-app.igb.illinois.edu/sofadb/contact/index.php