<?php

/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */

DEFINE ('DB_USER', '');
DEFINE ('DB_PASSWORD', '');
DEFINE ('DB_HOST', '');
DEFINE ('DB_NAME', '');
DEFINE ('TIMEZONE','');
DEFINE ('ADMIN_EMAIL', array());
DEFINE ('FROM_EMAIL', '');

DEFINE ("ROOT_URL", '');


DEFINE ("SESSION_NAME", "");
DEFINE ("SESSION_TIMEOUT",3600);

DEFINE ("MAIL_HOST", "");
DEFINE ("MAIL_PORT", "");
