Hello, {{  user_name }},<BR><BR>

Thank you for requesting membership approval to FADAMA. Please click on the following link to verify your email address.<BR><BR>

<a href='{{ url }}'>{{  url  }}</a><BR><BR>

The link will expire in 24 hours. If you need to resend this verification email, please visit:<BR><BR>
<a href='https://www-app.igb.illinois.edu/sofadb/contact/resend_verify_request.php'>https://www-app.igb.illinois.edu/sofadb/contact/resend_verify_request.php</a><BR><BR>
<BR><BR>
Thank you,<BR><BR>
{{ from_email }}
<BR><BR>
*** Do not reply to this email. ***<BR><BR>
If you have any questions, please contact us at <a href='https://www-app.igb.illinois.edu/sofadb/contact/index.php'>https://www-app.igb.illinois.edu/sofadb/contact/index.php</a>
