Dear New FADAMA Member,<BR><BR>
              
Your membership request has been approved. You may access the database at {{ url }}. You can both download case data and submit case data to be added to the database.  
Please review our FAQ, Database Policies and Practices, and User Tutorial at <a href='https://www-app.igb.illinois.edu/sofadb/faq.php'>https://www-app.igb.illinois.edu/sofadb/faq.php</a> to help get you started.<BR><BR>

Thank you,<BR>
FADAMA Database Committee<BR><BR>

*** Do not reply to this email. ***<BR>
If you have any questions, please contact us at <a href='https://www-app.igb.illinois.edu/sofadb/contact/index.php'>https://www-app.igb.illinois.edu/sofadb/contact/index.php</a>
