Hello, {{ username }}

Your request for FADAMA membership was denied. For more information please review our policies on membership requirements.

Thank you,
FADAMA Database Committee

*** Do not reply to this email. ***
If you have any questions, please contact us at <a href='https://www-app.igb.illinois.edu/sofadb/contact/index.php'>https://www-app.igb.illinois.edu/sofadb/contact/index.php</a>