Dear New FADAMA Member, 
              
Your membership request has been approved. You may access the database at {{ url }}. You can both download case data and submit case data to be added to the database.  
Please review our FAQ, Database Policies and Practices, and User Tutorial (https://www-app.igb.illinois.edu/sofadb/faq.php) to help get you started.

Thank you,
FADAMA Database Committee

*** Do not reply to this email. ***
If you have any questions, please contact us at <a href='https://www-app.igb.illinois.edu/sofadb/contact/index.php'>https://www-app.igb.illinois.edu/sofadb/contact/index.php</a>