{{ full_name }},<BR><BR>

Your account for the Forensic Anthropology Database for Assessing Methods Accuracy (FADAMA) has been deleted.
If you have any questions regarding this, please contact the administrators through the form at <a href='https://www-app.igb.illinois.edu/sofadb/contact/'>https://www-app.igb.illinois.edu/sofadb/contact/</a> .<BR><BR>

*** Do not reply to this email. ***<BR>
If you have any questions, please contact us at <a href='https://www-app.igb.illinois.edu/sofadb/contact/index.php'>https://www-app.igb.illinois.edu/sofadb/contact/index.php</a>
